# This is an example .env file. Copy this file to .env and fill in the values.
DATABASE_URL = 

JWT_SECRET = 

HASHING_ALGORITHM = HS256

OPENAI_BASE_URL=

OPENAI_API_KEY=

ACCESS_KEY_SECRET =

ACCESS_KEY_ID =

EMAIL_SENDER =

PASSWORD_EMAIL_ACCOUNT =